<p class="text-xl text-center">Reactive-form</p>

<form action="" class="max-w-sm mx-auto" [formGroup]="contactForms" (submit)="onSubmit()">
  <!-- First Name -->
  <div class="mb-5">
    <label for="First name" class="block mb-2 text-sm font-medium text-gray-900"
      >First Name:</label
    >
    <input
    formControlName="firstName"
      type="text"
      name="firstName"
      placeholder="First name"
      class="border border-black focus:outline-none rounded-md bg-slate-100 py-2 px-5"
    />
  </div>
  <!-- Last Name -->
  <div class="mb-5">
    <label for="last name" class="block mb-2 text-sm font-medium text-gray-900"
      >Last Name:</label
    >
    <input
    formControlName="lastName"
      type="text"
      name="lastName"
      placeholder="Last name"
      class="border border-black focus:outline-none rounded-md bg-slate-100 py-2 px-5"
    />
  </div>
  <!-- Email -->
  <div class="mb-5">
    <label for="Email" class="block mb-2 text-sm font-medium text-gray-900"
      >Email:</label
    >
    <input
    formControlName="email"
      type="email"
      name="email"
      placeholder="Email"
      class="border border-black focus:outline-none rounded-md bg-slate-100 py-2 px-5"
    />
  </div>
  <!-- Gender -->
  <div>
    <label for="Gender" class="block mb-2 text-sm font-medium text-gray-900"
      >Gender:</label
    >
    <input type="radio" value="male" name="gender" name="gender" formControlName="gender"/>male
    <input type="radio" value="female" name="email" name="gender" formControlName="gender"/>female
  </div>
  <!--Check box for maritel status -->
  <div>
    <label for="isMarried" class="text-sm font-medium text-gray-900"
      >Married:</label
    >
    <input type="checkbox" name="isMarried" formControlName="isMarried"/>
  </div>
  <!--Country -->
  <div class="mb-5">
    <label for="country">country:</label>
    <select name="countrySelection" id="" formControlName="country">
      <option value="" selected="">Select</option>
      <option value="1">India</option>
      <option value="2">USA</option>
      <option value="3">Russia</option>
    </select>
  </div>
  <div formGroupName="address">
    <p>
      <Label>City</Label>
        <input type="text" formControlName="city" name="city" class="border border-black focus:outline-none rounded-md bg-slate-100 py-2 px-5"
        />
      
    </p>
    <p>
      <Label>street</Label>
        <input type="text" formControlName="street" name="street" class="border border-black focus:outline-none rounded-md bg-slate-100 py-2 px-5"
        />
      
    </p>
    <p>
      <Label>pincode</Label>
        <input type="text" formControlName="pincode" name="pincode" class="border border-black focus:outline-none rounded-md bg-slate-100 py-2 px-5"
        />
      
    </p>
  </div>

  
  <!-- submit -->
  <div>
    <button
      type="submit"
      class="bg-green-700 p-2 rounded-lg text-white hover:opacity-95"
    >
      Submit
    </button>
  </div>
</form>
