<p class="text-xl text-center">Template-driven-form</p>

<form action="" class="max-w-sm mx-auto">
  <!-- First Name -->
  <div class="mb-5">
    <label for="First name" class="block mb-2 text-sm font-medium text-gray-900"
      >First Name:</label
    >
    <input
      type="text"
      name="firstName"
      placeholder="First name"
      class="border border-black focus:outline-none rounded-md bg-slate-100 py-2 px-5"
    />
  </div>
  <!-- Last Name -->
  <div class="mb-5">
    <label for="last name" class="block mb-2 text-sm font-medium text-gray-900"
      >Last Name:</label
    >
    <input
      type="text"
      name="lastName"
      placeholder="Last name"
      class="border border-black focus:outline-none rounded-md bg-slate-100 py-2 px-5"
    />
  </div>
  <!-- Email -->
  <div class="mb-5">
    <label for="Email" class="block mb-2 text-sm font-medium text-gray-900"
      >Email:</label
    >
    <input
      type="email"
      name="email"
      placeholder="Email"
      class="border border-black focus:outline-none rounded-md bg-slate-100 py-2 px-5"
    />
  </div>
  <!-- Gender -->
  <div>
    <label for="Gender" class="block mb-2 text-sm font-medium text-gray-900"
      >Gender:</label
    >
    <input type="radio" value="male" name="email" name="gender" />male
    <input type="radio" value="female" name="email" name="gender" />female
  </div>
  <!--Check box for maritel status -->
  <div>
    <label for="isMaried" class="text-sm font-medium text-gray-900"
      >Married:</label
    >
    <input type="checkbox" name="isMarried" />
  </div>
  <!--Country -->
  <div class="mb-5">
    <label for="country">country:</label>
    <select name="country selection" id="">
      <option value="" selected=""></option>
    </select>
  </div>

  <!-- submit -->
  <div>
    <button class="bg-green-700 p-2 rounded-lg text-white hover:opacity-95">
      Submit
    </button>
  </div>
</form>
